.container {
    max-width: 600px !important;/*Set your own width %; */
 }

body  {
    color: #fa5aba;
    font-family: 'VT323', monospace;
    font-weight: bold;

}

li {
    font-family: 'Montserrat';
    color: orange;
}

