.container {
    max-width: 600px !important; 
 } 

body  {
    
    
    

}
 
h1 {
    font-family: 'VT323', monospace;
}

/* p {

    font-family: 'Urbanist', sans-serif;  
}  */

/*
li {
    font-family: 'Montserrat';
    color: orange;
}

 .nav-item {
    color: green;
}  */